<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <title>URL Input Page</title>
</head>
<nav><h1>Enter URL</h1>
    <form method="GET" onsubmit="redirectToStreaming(event)">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url"
        pattern="^https?:\/\/(?:[0-9]{1,3}\.){3}[0-9]{1,3}:[0-9]{1,5}\/[a-zA-Z0-9\/.]+\.mjpg$"
               required>
        <button type="submit">Submit</button>
    </form>
    <script>
        function redirectToStreaming(event) {
            event.preventDefault();
            const urlInput = document.getElementById('url');
            const urlValue = urlInput.value;
            if (urlInput.checkValidity()) {
                const replacedPathname = urlValue.replace(/\//g, '+');
                const redirectedURL = `http://localhost:8888/streaming/${replacedPathname}/`;
                window.location.href = redirectedURL;
            }
        }
    </script>
</nav>
<div id="body">
    {% block body %}{% endblock %}
</div>
</html>